@charset "utf-8";
@font-face {
    font-family: "Poppins-Regular";
    src: url(fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: "Poppins-Bold";
    src: url(fonts/Poppins-Bold.ttf);
}

@font-face {
    font-family: "Poppins-Italic";
    src: url(fonts/Poppins-Italic.ttf);
}

body {
    font-family: 'Poppins-Regular' !important;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Poppins-Bold" !important;
}

div.owl-nav{
    display: block !important;
}

div.owl-prev{
    font-size: x-large !important;
    color: grey !important;
    background: rgba(0,0,0,0.0) !important;
    padding: 10px 5px !important;
    position: absolute;
    top: 40%;
    left: 0;
}

div.owl-next{
    font-size: x-large !important;
    color: grey !important;
    background: rgba(0,0,0,0.0) !important;
    padding: 10px 5px !important;
    position: absolute;
    top: 40%;
    right: 0;
}
.btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus{
    outline: none;
    color: white;
}

.koepoekoepoe-red{
    background-color: #E81F27;
    border-color:#E81F27;
    color: white;
}

.koepoekoepoe-banner {
    position: relative;
}

.koepoekoepoe-banner-content {
    position: absolute;
    width: 100%;
    height: 100%;
    color: rgba(255, 255, 255, 1.00);
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.20);
    z-index:auto;
}

.koepoekoepoe-content {
    margin-top: -10%;
    position: relative;
    background-color: white;
    padding: 3%;
}

.koepoekoepoe-stories-content {
    position: relative;
    margin-top: -10%;
    background-color: white;
}

.btn-facebook, .btn-instagram, .btn-google, .btn-twitter, .btn-youtube {
    background: white;
    color: black;
}

.topsearchicon {
    position: relative;
    font-size: large;
    float: right;
    padding: 9px 10px;
    margin-right: 15px;
    margin-top:2px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}

.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 25px;
}

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    font-size: 24px;
    line-height: 1.33;
    border-radius: 35px;
}

.navbar {
    border: none;
    padding: 12px;
    margin-bottom: 0px;
}

.navbar-default .navbar-toggle{
    background-color: white;;
    border: none;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{
    background-color: white;
}
.nav .topicon {
    padding: 10px;
}

.mylogo {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 100;
    margin-left: 2%;
}

.carousel-inner > .item {
    height: 550px;
    width: 100%;
}

.carousel-caption {
    position: absolute;
    height: 100%;
    margin-top: auto;
    margin-bottom: auto;
    top: 800px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 10;
    width: 100%;
    padding-top: 10%;
    padding-bottom: 20px;
    text-align: left;
    color: #fff;
}

.carousel-caption h1 {
    font-size: 5em;
}

.carousel-caption h1, .carousel-caption h2 {
    margin: 0;
}
.h1-mobile h1{
    font-size: 3em !important;
}
.mytopnav {
    margin-left: 10%;
    color: rgba(0, 0, 0, 1.00);
    font-weight: bolder;
}

.mycontainer {
    margin-left: 2%;
    margin-right: 2%;
}

.btn-round-lg {
    border-radius: 22.5px;
}

.btn-round {
    border-radius: 17px;
}

.btn-round-sm {
    border-radius: 15px;
}

.btn-round-xs {
    border-radius: 11px;
    padding-left: 10px;
    padding-right: 10px;
}

footer {
    background: #222222;
    padding: 3% 1% 3% 1%;
    margin-top: 0px;
}

footer h4 {
    font-weight: bold;
}

footer h1 {
    font-weight: bolder;
    font-size: 3em;
}

footer h5 {
    font-size: medium;
}

.divider {
    height: 1px;
    width: 100%;
    display: block; /* for use on default inline elements like span */
    margin: 9px 0;
    overflow: hidden;
    background-color: #000000;
}

/*SEARCH FORM*/
.input-group-lg .search-form {
    border-radius: 30px 0px 0px 30px;
    /*border-radius:Top-left, Top-right, Bottom-right, Bottom-left;*/
}

/*to cange only one form and not all give unique class name like  class="search-form" */
.input-group-lg .search-btn {
    border-radius: 0px 30px 30px 0px !important;
    cursor: pointer;
}

hr {
    border-top: none;
}

.myborderleft {
    border-left: 8px solid #FFEE1E;
    padding-left: 5%;
    font-weight: bolder;
    font-size: 3em;
}

.overlay-featuredrecipes {
    position: absolute;
    top: 5%;
    left: 10%;
}

.thumbnail {
    position: relative;
    margin-bottom: 0;
    padding: 0;
    border: none;
}

.img-responsive, .thumbnail > img {
    min-width: 90%;
    min-height: 100%;
}

.caption {
    color: white !important;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    padding: 10%;
    margin: auto;
    background: rgba(0, 0, 0, .3);
    font-size: large;
    text-align: left;
}

.caption-bottom {
    color: white !important;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    padding: 10%;
    margin: auto;
    background: rgba(0, 0, 0, .3);
}
.caption h2{
    position: absolute;
    font-weight: bolder;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    height: 30%;
    width: 70%;
    margin: auto;
    font-family: 'Poppins-Regular';
}
.owl-carousel {
    padding-left: 5%;
    padding-right: 5%;
}

.owl-carousel .owl-item img {
    display: block;
    padding: 5%;
    margin: auto;;
    width: 100% !important;
    height: 100% !important;
}

div.owl-nav {
    display: none;
}

div.owl-dots {
    margin-top: 3%;

}

div.owl-carousel h4, div.owl-carousel p span {
    font-weight: bolder;
}

.btn-transparent {
    background-color: rgba(0, 0, 0, 0.00);
    border-width: thin;
    border-color: rgba(255, 255, 255, 1.00);
}

.btn-transparent:hover {
    background-color: rgba(76, 111, 243, 1.00);
    color: white;
    border-width: thin;
    border-color: rgba(255, 255, 255, 1.00);
}

.like-btn, .share-btn {
    float: right;
    margin-left: 2%;
    margin-right: 2%;
    background: white;
}

.like-btn:hover {
    background: #C9302C;
    color: white;
    border: thin solid rgba(201, 48, 44, 1.00);
}

.share-btn:hover {
    background: blue;
    color: white;
    border: thin solid blue;
}

.like-btn span, .share-btn span {
    width: 100%;
    height: 100%;
    border: none;

    text-align: center;
}

.caption p {
    font-size: large;
    padding-left: 10%;
    width: 100%;
    position: absolute;
    left: 0px;
    bottom: 2%;
    border-top: thin solid #FFFFFF;
    padding-top: 2%;
}

.my-pull-right {
    display: inline;
}

.btn-facebook:hover {
    background: rgba(59, 89, 152, 1);
    color: white;
    border: thin solid rgba(59, 89, 152, 1);
}

.btn-instagram:hover {
    background: rgba(219, 53, 104, 1);
    color: white;
    border: thin solid rgba(219, 53, 104, 1);
}

.btn-search:hover {
    background: #C9302C;
    color: white;
    border: thin solid rgba(201, 48, 44, 1.00);
}

.mybordertop {
    border-bottom: 10px solid rgba(232, 182, 10, 1.00);
    width: 20%;
    margin-left: auto;
    margin-right: auto;
}

.mymobileicon-margin img {
    margin-left: 5%;
    margin-right: 5%;
}

.btn-koepoe-action {
    padding: 1%;
    margin-top: 3%;
    border: thin solid #000000;
    font-weight: bold;
}

.btn-koepoe-action:hover {
    color: white;
    background-color: red;
    border: thin solid red;
}

.green {
    color: green !important;
}

.mymargin-5 {
    margin-left: 7%;
}

.btn-content {
    background-color: #FFFFFF;
    color: red;
    border: thin solid red;
}
.btn-content:focus, .btn-content:active{
    color: red;
}
.btn-content:hover {
    background-color: red;
    color: white;
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}

.btn-round-left {
    border-radius: 30px 0px 0px 30px;
    width: 30%
}

.btn-round-right {
    border-radius: 0px 30px 30px 0px !important;
    cursor: pointer;
    width: 70%;
}
.panel-default > .panel-heading{
    background-color: inherit;
}
.panel{
    background-color: inherit;
    border: none;
}
.panel-body{
    background-color: inherit;
    border-top-color: black !important;
}
.panel-title span{
    color: white;
}
.panel-default > .panel-heading{
    border-bottom: thin solid black;
}

.panel-body > p > a{
    color: black;
    text-decoration: none !important;
}

footer a, footer a:link, footer a:visited, footer a:hover{
    color: white;
    text-decoration: none;
}

.lightboxOverlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    background-color: black;
    opacity: 0.8;
    display: none;
}

.lightbox {
    width: 100%;
    z-index: 10000;
    text-align: center;
    line-height: 0;
    font-weight: normal;
}

.page-load-status {
    display: none; /* hidden by default */
    padding-top: 20px;
    border-top: 1px solid #DDD;
    text-align: center;
    color: #777;
}

@media screen and (max-width: 767px) {
    .mytopnav {
        margin: 0;
    }

    .dropdown-menu{
        left:-55px !important;
    }

    .carousel-inner > .item {
        height: 330px;
        width: 100%;
        background-size: 190% 100% !important;
        background-repeat: no-repeat !important;
        background-position: center !important;
    }

    .img-responsive, .thumbnail > img {
        min-width: 90%;
        min-height: 200px;
    }

    .carousel-caption h1 {
        font-size: xx-large;
    }

    .koepoekoepoe-content {
        margin: -25% 1% 0% 1%;
        background-color: white;
        padding: 5%;
    }

    .content-banner {
        height: 200px;
    }

    .products-x-recipes-banner {
        height: 100px;
    }

    .navbar {
        padding: 0px;
        position: absolute;
        left: 0px;
        width: 100%;
        z-index: 1000;
        margin-bottom: 10%;
    }

    #defaultNavbar1 {
        background: #FFBC01 !important;
        padding-top: 20%;
    }

    .container-sm {
        padding-top: 20%;
    }

    .mylogo > img {
        height: 100px;
    }

    .caption-bottom {
        padding: 7%;
    }

    .caption h2 {
        font-size: 1em;
    }
    .owl-carousel {
        padding-left: 10%;
        padding-right: 10%;
    }
}

@media print {
    a[href]:after {
        content: none;
    }
}